/* -------------------> VARIABLEs <------------------- */

:root{
    /* Colors */
    --mainTextColor: black;
    --backgroundColor: #f5f5f5;
    --violetColor: #B777F7;
    --darkGreyColor: #A1A1A1;
    --lightBlueColor: #72DAFB;
    --greenColor: #8CD782;
    --yellowColor: #EDAB2C;
    --redColor: #ED672C;
    --blueColor: #5B99F4;
    --whiteColor: #FFFFFF;
    /* Font size */
    --mainTextSize: 29px;
    --h2TextSize: 48px;
    --pTextSize: 29px;
    --captionFontSize: 22px;
    --menuFontSize: 29px;
    /* Font size mobile */
    --mainTextSizeMobile: 16px;
    --h2TextSizeMobile: 25px;
    --pTextSizeMobile: 16px;
    --captionFontSizeMobile: 16px;  
    --menuFontSizeMobile: 22px;
    /* Inner Glow sizes */
    --blur: 60px;
    --spread: 2px;
    --blurHover: 80px;
    --spreadHover: 40px;
}

/* -------------------> FONT <------------------- */
@font-face {
    font-family: EditorialNew;
    src: url("../font/EditorialNewRegular.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: SuisseIntl;
    src: url("../font/SuisseIntlRegular.otf") format("opentype");
    font-display: swap;
}

/* Font not used */
@font-face {
    font-family: EditorialNew-Italic;
    src: url("../font/EditorialNewItalic.otf") format("opentype");
    font-display: swap;
}

/* -------------------> STYLE DESKTOP <------------------- */

body {
    margin: 10px;
    font-size: 15px;
    font-family: "SuisseIntl", "Helvetica", sans-serif;
    color: var(--mainTextColor);
    background-color: var(--backgroundColor);
}

::selection {
    color: var(--backgroundColor);
    background: var(--mainTextColor);
}

/* START -- Font size and family */
    h1{
        font-size: var(--mainTextSize);
        font-family: "SuisseIntl", "Helvetica", sans-serif;
        font-weight: normal;
    }

    h2{
        font-size: var(--h2TextSize);
        font-weight: normal;
        font-family: "EditorialNew", "Garamond", serif;
    }

    h3{
        font-size: var(--h2TextSize);
        font-weight: normal;
        font-family: "EditorialNew", "Garamond", serif;
    }

    p{
        font-size: var(--pTextSize);
        font-family: "SuisseIntl", "Helvetica", sans-serif;
    }

    .captionFont{
        font-size: var(--captionFontSize);
        font-family: "SuisseIntl", "Helvetica", sans-serif;
    }

    .menuFont{
        font-size: var(--menuFontSize);
        font-family: "SuisseIntl", "Helvetica", sans-serif;
    }
/* END -- Font size and family */

/* START -- innerGlow Classes */

    .innerGlowMain{
        border-radius: 16px;
    }
    
    .innerGlowAnimated{
        transition: all 300ms ease-in-out;
    }
        .innerGlowAnimated:hover{
            transition: all 300ms ease-in-out;
        }

    .innerGlowViolet{
        -moz-box-shadow: inset 0 0 var(--blur) var(--spread) var(--violetColor);
        -webkit-box-shadow: inset 0 0 var(--blur) var(--spread) var(--violetColor);
        box-shadow: inset 0 0 var(--blur) var(--spread) var(--violetColor);
    }

        .innerGlowViolet:hover{
            -moz-box-shadow: inset 0 0 var(--blurHover) var(--spreadHover) var(--violetColor);
            -webkit-box-shadow: inset 0 0 var(--blurHover) var(--spreadHover) var(--violetColor);
            box-shadow: inset 0 0 var(--blurHover) var(--spreadHover) var(--violetColor);
        }

    .innerGlowDarkGrey{
        -moz-box-shadow: inset 0 0 var(--blur) var(--spread) var(--darkGreyColor);
        -webkit-box-shadow: inset 0 0 var(--blur) var(--spread) var(--darkGreyColor);
        box-shadow: inset 0 0 var(--blur) var(--spread) var(--darkGreyColor);
    }

        .innerGlowDarkGrey:hover{
            -moz-box-shadow: inset 0 0 var(--blurHover) var(--spreadHover) var(--darkGreyColor);
            -webkit-box-shadow: inset 0 0 var(--blurHover) var(--spreadHover) var(--darkGreyColor);
            box-shadow: inset 0 0 var(--blurHover) var(--spreadHover) var(--darkGreyColor);
        }
    
    .innerGlowLightBlue{
        -moz-box-shadow: inset 0 0 var(--blur) var(--spread) var(--lightBlueColor);
        -webkit-box-shadow: inset 0 0 var(--blur) var(--spread) var(--lightBlueColor);
        box-shadow: inset 0 0 var(--blur) var(--spread) var(--lightBlueColor);
    }

        .innerGlowLightBlue:hover{
            -moz-box-shadow: inset 0 0 var(--blurHover) var(--spreadHover) var(--lightBlueColor);
            -webkit-box-shadow: inset 0 0 var(--blurHover) var(--spreadHover) var(--lightBlueColor);
            box-shadow: inset 0 0 var(--blurHover) var(--spreadHover) var(--lightBlueColor);
        }
    
    .innerGlowGreen{
        -moz-box-shadow: inset 0 0 var(--blur) var(--spread) var(--greenColor);
        -webkit-box-shadow: inset 0 0 var(--blur) var(--spread) var(--greenColor);
        box-shadow: inset 0 0 var(--blur) var(--spread) var(--greenColor);
    }

        .innerGlowGreen:hover{
            -moz-box-shadow: inset 0 0 var(--blurHover) var(--spreadHover) var(--greenColor);
            -webkit-box-shadow: inset 0 0 var(--blurHover) var(--spreadHover) var(--greenColor);
            box-shadow: inset 0 0 var(--blurHover) var(--spreadHover) var(--greenColor);
        }
    
    .innerGlowYellow{
        -moz-box-shadow: inset 0 0 var(--blur) var(--spread) var(--yellowColor);
        -webkit-box-shadow: inset 0 0 var(--blur) var(--spread) var(--yellowColor);
        box-shadow: inset 0 0 var(--blur) var(--spread) var(--yellowColor);
    }

        .innerGlowYellow:hover{
            -moz-box-shadow: inset 0 0 var(--blurHover) var(--spreadHover) var(--yellowColor);
            -webkit-box-shadow: inset 0 0 var(--blurHover) var(--spreadHover) var(--yellowColor);
            box-shadow: inset 0 0 var(--blurHover) var(--spreadHover) var(--yellowColor);
        }
    
    .innerGlowRed{
        -moz-box-shadow: inset 0 0 var(--blur) var(--spread) var(--redColor);
        -webkit-box-shadow: inset 0 0 var(--blur) var(--spread) var(--redColor);
        box-shadow: inset 0 0 var(--blur) var(--spread) var(--redColor);
    }

        .innerGlowRed:hover{
            -moz-box-shadow: inset 0 0 var(--blurHover) var(--spreadHover) var(--redColor);
            -webkit-box-shadow: inset 0 0 var(--blurHover) var(--spreadHover) var(--redColor);
            box-shadow: inset 0 0 var(--blurHover) var(--spreadHover) var(--redColor);
        }
    
    .innerGlowWhite{
        -moz-box-shadow: inset 0 0 var(--blur) var(--spread) var(--whiteColor);
        -webkit-box-shadow: inset 0 0 var(--blur) var(--spread) var(--whiteColor);
        box-shadow: inset 0 0 var(--blur) var(--spread) var(--whiteColor);
    }

/* END -- innerGlow Classes */

/* -------------------> STYLE MOBILE <------------------- */

@media screen and (max-width: 820px) {
    body {
        margin: 5px;
        font-size: 8px;
    }

    /* START -- Font size and family */
    h1{
        font-size: var(--mainTextSizeMobile);
    }

    h2{
        font-size: var(--h2TextSizeMobile);
    }

    h3{
        font-size: var(--h2TextSizeMobile);
    }

    p{
        font-size: var(--pTextSizeMobile);
    }

    .captionFont{
        font-size: var(--captionFontSizeMobile);
    }

    .menuFont{
        font-size: var(--menuFontSizeMobile);
    }
    /* END -- Font size and family */
}